header {
display: flex;
flex-flow: column wrap;
justify-content: center;
text-align: center;
 

    .hero {
        align-items:center;
        .flex-four();
        border-bottom: 2px solid @lambda-red;

         .hero-img {
            align-self: flex-start;
         }

        h1 {
            padding: 10px;
            color:@lambda-red;
            font-weight: bold;
            
        } // h1 content // hero class

        p {
            padding: 20px;
            align-self: center;
        } //paragraph content // hero class
    } // hero section // hero class
} // header

main {
    .flex-column-nw-se-aic();
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    border-bottom: 2px solid @lambda-red;
    border-width: 100%;

    h2 {
        padding: 10px;
        color: @lambda-red;
    }
}

 

